<!--<div class="footer">-->
    <!--<div class="row">-->
        <!--<div class="left-footer-side col-md-6">-->
            <!--<p>MyJIR system.</p>-->
        <!--</div>-->
        <!--<div class="right-footer-side col-md-6">-->
            <!--<p>All Rights Reserved 2017</p>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
<!--<div class="container">-->
    <!--<div class="row">-->
        <!--<div class="span12">-->
            <!--<div id="footer">-->
                <!--<ul class="footer">-->
                    <!--<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">-->
                        <!--<div class="row">-->
                            <!--<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 left-footer-side" style="margin-top: 10px;">-->
                                <!--[Logo] Alliance System-->
                            <!--</div>-->
                            <!--<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 right-footer-side" style="margin-top: 10px;">-->
                                <!--All rights reserved © 2017 AGH-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</ul>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
<template ngbModalContainer></template>
