<div class="card">
    <p-growl [value]="msgs" sticky="sticky"></p-growl>
    <!--Start of card header-->
    <div class="card-header">
        <span style="font-size: 26px"><i class="fa fa-book" aria-hidden="true"></i> Backlog Table</span>
        <button *ngIf="sprint && sprint?.lifeCycle == 'ACTIVE'"
                type="button"
                (click)="onStopSprintClick()"
                class="btn btn-danger "
                style="float: right; margin-top: 1px">
            Stop Sprint
        </button>
    </div>
    <!--end of card header-->

    <div class="card-block">
        <div>
            <!-- sprint navigate buttons -->
            <div *ngIf="!sprint || sprint?.lifeCycle != 'ACTIVE'">
                <div class="row">
                    <div class="col-md-9">

                        <div class="col-md-2">
                            <button type="button"
                                    (click)="onCreateSprintClick()"
                                    class="btn btn-primary  btn-sm"
                                    [disabled]="sprint?.lifeCycle=='FUTURE'">

                                Create Sprint
                            </button>
                        </div>

                        <div class="col-md-2">
                            <div class="form-group">
                                <select class="form-control form-control-sm" [(ngModel)]="durationTime">
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-2">
                            <button type="button" style="float: right"
                                    (click)="onStartSprintClick()"
                                    class="btn btn-primary btn-sm"
                                    [disabled]="sprint?.lifeCycle!='FUTURE'">
                                Start Sprint
                            </button>
                        </div>

                        <div class="col-md-3">
                            <button type="button"
                                    (click)="addTaskFromPreviousSprint()"
                                    class="btn btn-primary btn-sm"
                                    [disabled]="!sprint">
                                Add task from previous sprint
                            </button>
                        </div>

                    </div>
                </div>
            </div>
            <!--end of navigate buttons-->
            <br>

            <!--sprint information section-->
            <div *ngIf="sprint" style ="margin-top: -25px" class="bs-callout bs-callout-success box-shadow">
                <br>
                <div  style="margin-top: -20px">
                    <div class="row">
                        <div class="col-md-2">
                            <b>Started on:</b>
                        </div>
                        <div class="col-md-2">
                            <b>End on:</b>
                        </div>
                        <div class="col-md-2">
                            <b>LifeCycle:</b>
                        </div>
                        <div class="col-md-2">
                            <b>Name:</b>
                        </div>
                        <div class="col-md-2">
                            <b>&Sigma; Estimated:</b>
                        </div>
                        <div class="col-md-2">
                            <b>&Sigma; Remaining:</b>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <span [innerHTML]="formatDate(sprint.startTime)"></span>
                        </div>
                        <div class="col-md-2">
                            <span [innerHTML]="formatDate(sprint.stopTime)"></span>
                        </div>
                        <div class="col-md-2">{{sprint.lifeCycle}}</div>
                        <div class="col-md-2">{{sprint.title}}</div>
                        <div class="col-md-2">{{sprint.sumOfEstimate}}</div>
                        <div class="col-md-2">{{sprint.sumOfRemaining}}</div>
                    </div>
                </div>
            </div>
            <!--end of sprint information section-->
            <br>

            <!--Draggable section: task in sprint-->
            <div *ngIf="sprint">
                <h4><i class="fa fa-fire-extinguisher" aria-hidden="true"></i> To do in this sprint:</h4>
                <hr>
                <div class='container4 ' [dragula]='"another-bag"' [dragulaModel]='taskInSprint'>
                    <div *ngFor="let task of taskInSprint" style="margin-top: -10px;padding: 0;">
                        <div style="margin-top: -10px;padding: 0;">
                            <p-accordion>
                                <p-accordionTab [selected]="false">
                                    <p-header>
                                        <span [innerHTML]="getTypeIcon(task?.type)"></span>
                                        <span [innerHTML]="generateTitleID(task)"></span>
                                        <span style="float: right" class="tag-pill tag-warning"
                                              [innerHTML]="extractNumberFromEstimate(task?.estimateTime)"></span>
                                        <img *ngIf="getAvatarById(task?.assignee?.id)"
                                             class="avatar"
                                             [src]="'data:' + getAvatarById(task?.assignee?.id)?.contentContentType + ';base64,' + getAvatarById(task?.assignee?.id)?.content"/>

                                        <img *ngIf="getAvatarById(task?.assignee?.id) == null"
                                             class="avatar"
                                             src="unknownUser.jpg" alt="jUser Img"/>

                                        <span style="float: right" [innerHTML]="task?.assignee?.user?.login"></span>
                                    </p-header>

                                    <div class="container no-padding">
                                        <div class="row no-padding clear-margin ">
                                            <div class="col-md-3 clear-margin">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <b>Priority:</b>
                                                    </div>
                                                    <div class="col-md-6">
                                                        {{task?.priority}}
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6" style="padding: 0">
                                                        <b>Environment:</b>
                                                    </div>
                                                    <div class="col-md-6">
                                                        {{task?.enviroment}}
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <b>Remaining time:</b>
                                                    </div>
                                                    <div class="col-md-6">
                                                        {{task?.remainingTime}}
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <b>Estimate time:</b>
                                                    </div>
                                                    <div class="col-md-6">
                                                        {{task?.estimateTime}}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3 clear-margin">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <b>Version:</b>
                                                    </div>
                                                    <div class="col-md-6">
                                                        {{task?.version}}
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <b>Status:</b>
                                                    </div>
                                                    <div class="col-md-6">
                                                        {{task?.lifeCycle}}
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <b>Project:</b>
                                                    </div>
                                                    <div class="col-md-6">
                                                        {{task?.project}}
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <b>Type:</b>
                                                    </div>
                                                    <div class="col-md-6">
                                                        {{task?.type}}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6 clear-margin">
                                                <div class="row">
                                                    <b>Description:</b>
                                                </div>
                                                <div class="row">
                                                    {{task?.description}}
                                                </div>

                                            </div>

                                            <div class="row">
                                                <div class="col-md-12">

                                                    <button type="submit"
                                                            style="float: right; margin-left: 3px"
                                                            [routerLink]="['/task/view', task?.id ]"
                                                            class="btn btn-outline-primary btn-sm">
                                                        <span class="hidden-md-down">Go to task</span>
                                                    </button>

                                                    <button type="submit"
                                                            style="float: right; margin-left: 3px"
                                                            class="btn btn-outline-primary btn-sm">
                                                        <span class="hidden-md-down">Edit</span>
                                                    </button>

                                                    <button *ngIf="task?.sprint?.id == sprint?.id" type="submit"
                                                            style="float: right; margin-left: 3px"
                                                            (click)="sendToBacklogClick(task,false,true)"
                                                            class="btn btn-outline-primary btn-sm">
                                                        <span class="hidden-md-down">Send to Backlog</span>
                                                    </button>

                                                    <button *ngIf="task?.sprint?.id == sprint?.id" type="submit"
                                                            style="float: right; margin-left: 3px"
                                                            class="btn btn-outline-primary btn-sm"
                                                            [routerLink]="['/', { outlets: { popup: ['poker-official-new', {taskId: task?.id, jGroupId: jGroup?.id}] } }]">
                                                        <span class="hidden-md-down">Poker</span>
                                                    </button>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </p-accordionTab>
                            </p-accordion>
                        </div>
                    </div>
                </div>
            </div>
            <!--end of Draggable section: task in sprint-->

            <br>
            <!--Draggable section: task out of sprint-->
            <h4><i class="fa fa-long-arrow-down" aria-hidden="true"></i> Backlog:</h4>
            <hr>
            <div class='container4' [dragula]='"another-bag"' [dragulaModel]='taskOutOfSprint'>
                <div *ngFor="let task of taskOutOfSprint" style="margin-top: -10px;padding: 0;">
                    <div style="margin-top: -10px;padding: 0;">
                        <p-accordion>
                            <p-accordionTab [selected]="false">
                                <p-header>
                                    <span [innerHTML]="getTypeIcon(task?.type)"></span>
                                    <span [innerHTML]="generateTitleID(task)"></span>
                                    <span style="float: right" class="tag-pill tag-warning"
                                          [innerHTML]="extractNumberFromEstimate(task?.estimateTime)"></span>
                                    <img *ngIf="getAvatarById(task?.assignee?.id)"
                                         class="avatar"
                                         [src]="'data:' + getAvatarById(task?.assignee?.id)?.contentContentType + ';base64,' + getAvatarById(task?.assignee?.id)?.content"/>

                                    <img *ngIf="getAvatarById(task?.assignee?.id) == null"
                                         class="avatar"
                                         src="unknownUser.jpg" alt="jUser Img"/>
                                    <span style="float: right" [innerHTML]="task?.assignee?.user?.login"></span>
                                </p-header>
                                <div class="container no-padding">
                                    <div class="row no-padding clear-margin ">
                                        <div class="col-md-3 clear-margin">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <b>Priority:</b>
                                                </div>
                                                <div class="col-md-6">
                                                    {{task?.priority}}
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6" style="padding: 0">
                                                    <b>Environment:</b>
                                                </div>
                                                <div class="col-md-6">
                                                    {{task?.enviroment}}
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <b>Remaining time:</b>
                                                </div>
                                                <div class="col-md-6">
                                                    {{task?.remainingTime}}
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <b>Estimate time:</b>
                                                </div>
                                                <div class="col-md-6">
                                                    {{task?.estimateTime}}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-3 clear-margin">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <b>Version:</b>
                                                </div>
                                                <div class="col-md-6">
                                                    {{task?.version}}
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <b>Status:</b>
                                                </div>
                                                <div class="col-md-6">
                                                    {{task?.lifeCycle}}
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <b>Project:</b>
                                                </div>
                                                <div class="col-md-6">
                                                    {{task?.project}}
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <b>Type:</b>
                                                </div>
                                                <div class="col-md-6">
                                                    {{task?.type}}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 clear-margin">
                                            <div class="row">
                                                <b>Description:</b>
                                            </div>
                                            <div class="row">
                                                {{task?.description}}
                                            </div>

                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">

                                                <button type="submit"
                                                        style="float: right; margin-left: 3px"
                                                        [routerLink]="['/task/view', task?.id ]"
                                                        class="btn btn-outline-primary btn-sm">
                                                    <span class="hidden-md-down">Go to task</span>
                                                </button>

                                                <button type="submit"
                                                        style="float: right; margin-left: 3px"
                                                        class="btn btn-outline-primary btn-sm">
                                                    <span class="hidden-md-down">Edit</span>
                                                </button>

                                                <button type="submit"
                                                        style="float: right"
                                                        (click)="sendToSprintClick(task,false)"
                                                        class="btn btn-outline-primary btn-sm">
                                                    <span class="hidden-md-down">Add to sprint</span>
                                                </button>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </p-accordionTab>
                        </p-accordion>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
