/* ==========================================================================
Search
========================================================================== */
.search {
}
.btn {
    margin-left: -8px;
    line-height: 0.95;
    margin-bottom: 3px;
    background-color: rgba(221, 225, 233, 0.57);
    border-color: #d4d4d4;
}
