<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">

            <div class="row">
                <h2>1. Start using system</h2>
                <hr>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-left: 20px">
                    <b>Start:</b>
                    <hr>
                    To start working using the system You need to belong to specific Project's group or groups.
                    <br>
                    You can check out existing projects and join some projects' groups or create your own project in "Project Section".
                    <br>
                    <br>
                    <b>Create your own project:</b>
                    <hr>
                    To create new project go to 'Project Section' by clicking button on account main page or using option accessed via navbar under Projects.
                    <br>
                    There will be additional hints what to do next.
                    <br>
                    If u decided to create your own project and did it already, find your project using 'existing project'.
                    <br>
                    After going into the new created project start working on it by creating your first
                    <br>
                    project's group. Upon creating one, you can also select which users should be included.
                    <br>
                    <b>This is not a mandatory element though.</b>
                    <br>
                    After creating first project's group you will obtain project privileges allowing you to make modifications.
                    <br>
                    Also, your account main page will change to show specific info about groups that you created or joined already.
                    <br>
                    <b>Remember that still you can join more groups or create ones.</b>
                    <br>
                    <br>
                    <b>Join to existing project:</b>
                    <hr>
                    To start working on some existing projects first go to project section and click on 'Existing projects' button.
                    <br>
                    After this a list of all currently existing projects will show up.
                    <br>
                    Find project that seems interesting for you and go to the project page.
                    <br>
                    <b>This step is important because there You can find out if and how work is divided between<br>
                    groups which are working on specific parts of the entire project.</b>
                    <br>
                    To check out specific information about selected project's groups, simply click on those which seem to be interesting for You.
                    <br>
                    After clicking, You will access specific group profile page.
                    <br>
                    On the page You can learn more about group and also send request to join if You decide to do so.
                    <br>
                    After sending request, You will have to wait If the group will decide to accept or reject it.
                    <br>
                    You'll obtain privileges to work under the project in this specific group right after request acceptance.
                    <br>
                    <br>
                    <b>Create your first task:</b>
                    <hr>
                    To create your first task just use button placed in navbar.
                    <br>
                    The operation is not allowed until You belong to any project's groups.
                    <br>
                    <br>
                </div>
                <h2>2. User profile & Group profile</h2>
                <hr>
                <div class="col-md-12" style="margin-left: 20px">
                    <b>Make changes in your account:</b>
                    <hr>
                    You can access your profile by using button "view" on main account page in account details section.
                    <br>
                    After accessing You can change your account data and see some information about your current doings.
                    <br>
                    <br>
                    <b>Make changes in group profile:</b>
                    <hr>
                    <br>
                    <br>
                </div>
                <h2>3. Agile</h2>
                <hr>
                <div class="col-md-12" style="margin-left: 20px">
                    <b>Backlog:</b>
                    <hr>


                    <b>Sprint:</b>
                    <hr>


                    <b>Reports:</b>
                    <hr>


                    <br>
                </div>
                <h2>4. GitLab integration</h2>
                <hr>
                <div class="col-md-12" style="margin-left: 20px">
                    <b>How to integrate with GitLab?</b>
                    <hr>
                    Go to your GitLab project and next <b>Settings->Integrations</b> and then:
                    <br>
                    Add url <b>https://testmyjirr.herokuapp.com/gitlab/push-event</b>
                    <br>
                    Select "Push events" and uncheck "Enable SSL verification". Then click "Add webhook button".
                    <br>
                    <br>
                    <b>How to make properly links ?</b>
                    <hr>
                    <br>
                    Add task id to your commit message e.g message="#FIX 1234 Title of task";
                    In task which has id = 1234 commit will be visible.
                    <br>
                    <br>
                    <b>Email:</b>
                    <hr>
                    Email in Gitlab and in MyJiR must be the same.
                    <br>
                    <br>
                </div>
                <br>
                <br>
                <h2>5. Github integration</h2>
                <hr>
                <div class="row">
                    <div class="col-md-12" style="margin-left: 20px">
                        <b>How to integrate with Github ?</b>
                        <br>
                        Go to your github repository and next <b>Settings->Webhooks</b> and then:
                        <br>
                        Click button <b>Add webhook</b>
                        <br>
                        Add payload url : <b>https://testmyjirr.herokuapp.com/github/push-event</b>.
                        <br>
                        Select content type : <b>application/json</b>
                        <br>
                        <b>How to make properly links ?</b>
                        <br>
                        Add task id to your commit message e.g message="#FIX 1234 Title of task";
                        In task which has id = 1234 commit will be visible.
                        <br>
                        <br>
                        <b>Email</b>
                        <br>
                        Email in Github and in MyJiR must be the same.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
