.card {
    margin-top:-20px;
}
.card-header {
    border: 1px solid rgba(179, 181, 185, 0.57);
}

.card-block {
    border: 1px solid rgba(179, 181, 185, 0.57);
    border-top: none;
}

.search-box {
    -webkit-box-shadow: 1px 0px 45px 0px rgba(5,5,5,0.56);
    -moz-box-shadow: 1px 0px 45px 0px rgba(5,5,5,0.56);
    box-shadow: 1px 0px 45px 0px rgba(5,5,5,0.56);
    margint-top:-10px;
}


